<header class="header">
  <div class="wrapper">
    <div class="mobile-menu">
      <button mat-icon-button #trigger [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" backdropClass="customize" >
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span routerLink="/">Главная</span>
        </button>
        <button mat-menu-item >
          <mat-icon>work</mat-icon>
          <span  routerLink="/portfolio">Портфолио</span>
        </button>
        <button mat-menu-item>
          <mat-icon>chat</mat-icon>
          <span routerLink="/blog">Блог</span>
        </button>
        <button mat-menu-item>
          <mat-icon>contacts</mat-icon>
          <span routerLink="/contacts">Контакты</span>
        </button>
      </mat-menu>

    </div>
  <ul class="header__list">
      <li class="header__list__item" routerLinkActive="activeLink"  routerLink="/"  [routerLinkActiveOptions]="{exact:true}"><a href="javascript:void(0)">Главная</a></li>
      <li class="header__list__item" routerLinkActive="activeLink"  routerLink="/portfolio"> <a href="javascript:void(0)">Портфолио </a></li>
      <li class="header__list__item" routerLinkActive="activeLink"  routerLink="/blog" style="padding: 0 30px;"><a href="javascript:void(0)">Блог </a></li>
      <li class="header__list__item" routerLinkActive="activeLink"  routerLink="/contacts"><a href="javascript:void(0)">Контакты </a></li>
      
  </ul>
  <div class="header__logo">
    <span>Kryukov_Studio</span>
  </div>
  <div class="header__contacts">
    <div  class="profile" *ngIf="auth.userLogin;else elseBlock">
      <div class="profile-icon" (click)="toggleProfile()" (click)="handleClick($event)"> 
    <mat-icon class="ac_circle">account_circle</mat-icon>
    <a href="javascript:void(0)"  >{{auth.userLogin}}</a>
  </div>
    <div class="drop-profile" *ngIf="profile" (click)="handleClick($event)" >
      <span>Профиль</span>
        <ul class="profileList">
          <li routerLink="/profile/orders" > <a ><mat-icon class="profile_icon_list" >shop</mat-icon>Заказы </a></li>
          <li routerLink="/profile/chat">  <a ><mat-icon class="profile_icon_list">chat</mat-icon>Чат </a></li>
          <li  routerLink="/profile/support"><a href="javascript:void(0)"><mat-icon class="profile_icon_list">help</mat-icon>Поддержка </a></li>
          <li  routerLink="/admin"  *ngIf="auth.isAdmin"><a ><mat-icon class="profile_icon_list">admin_panel_settings</mat-icon>Админка</a></li>
        </ul>
        <div class="wrap-logout">
        <a class="logout " href="javascript:void(0)" (click)="logout()">Выйти </a>
      </div>
    </div>
    </div>
    <ng-template #elseBlock>
    <a class="btn" href="javascript:void(0)" (click)="open($event)" >Войти</a>
    </ng-template>
    <div class="login"  [@openLogin]="openLogin" (click)="handleClick($event)" [formGroup]="loginForm">
      <mat-form-field appearance="fill" >
        <mat-label>Логин</mat-label>
        <input matInput type="text" formControlName="loginIn" >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="passwordIn" >
      </mat-form-field>
       <div class="wrapper__btn-login">
         <span (click)="loginF()">Вход </span>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="btnLog">login</mat-icon>
      </div>
      <span class="reg primary" (click)="openReg()">Регистрация</span>
      <p *ngIf="messagesLogin" class="error">{{messagesLogin.message}}</p>
    </div>

    

  </div>
</div>

</header>
