.footer{
    height: auto;
    flex: 0 0 auto;
    bottom: 0px;
    padding: 30px 0px;
    background: #020202;
    color: #fff;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    font-weight:200 ;
    width: 100%;
    text-align: center;
    .footer__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:100%;

    }
    .footer__content__contacts{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 30%;
        .logo{
            font-size: 40px;
        }
        img{
            width: 50px;
            height: 50px;
            margin:auto;
            margin-top:30px;
        }
        img:hover{
            cursor: pointer;
        }
    }
    .footer__content__block-list{
        display: flex;
        .footer__content__block-list__list{
            list-style: none;
            text-align: left;
            li{
                padding-top: 10px;
            }
        }
    }

}
