<footer class="footer">
    <div class="wrapper footer__content">
        <div class="footer__content__contacts">
            <span class="logo">Kryukov_Studio</span>
            <img [defaultImage]="'assets/thumbnail.png'" class="lazy" [lazyLoad]="'assets/vk.png'" alt="Kryukov в контакте">
        </div>
        <div class="footer__content__block-list">
            <ul class="footer__content__block-list__list">
                <li>Главная</li>
                <li>Портфолио</li>
                <li>Новости</li>
                <li>Контакты</li>
            </ul>
        </div>
    </div>
    <span>Kryukov_Studio 2021 &#169;</span>
</footer>
