<div class="block-category-sites block">
    <div class="wrapper">
    <h2 class="title-category-sites__title">Какие бывают сайты?</h2>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Лендинг">
            <p class="title-catagory-sites__description">
            Целевая страница — веб-страница, основной задачей которой является сбор контактных данных целевой аудитории. Используется для усиления эффективности рекламы, увеличения аудитории.Целевая страница обычно содержит информацию о товаре или услуге
            </p>
            <mat-grid-list cols="2" rowHeight="2:1" >
                <mat-grid-tile ><img [defaultImage]="'assets/thumbnail.png'"  [lazyLoad]="'assets/landing1.jpg'" class="image-category-sites lazy" alt="Купить сайт в Петрозаводске"></mat-grid-tile>
                <mat-grid-tile ><img [defaultImage]="'assets/thumbnail.png'" [lazyLoad]="'assets/landing2.png'" class="image-category-sites lazy" alt="Купить сайт в Петрозаводске"></mat-grid-tile>
                <mat-grid-tile ><img [defaultImage]="'assets/thumbnail.png'" [lazyLoad]="'assets/landing3.png'" class="image-category-sites lazy" alt="Купить сайт в Петрозаводске"></mat-grid-tile>
                <mat-grid-tile ><img [defaultImage]="'assets/thumbnail.png'" [lazyLoad]="'assets/landing4.jpg'" class="image-category-sites lazy" alt="Купить сайт в Петрозаводске"></mat-grid-tile>
              </mat-grid-list>
        </mat-tab>
        <mat-tab label="Корпоративный">Content 2</mat-tab>
        <mat-tab label="Визитка">Content 3</mat-tab>
      </mat-tab-group>

    </div>
 </div>
