.block-category-sites{
    background: #ffffff;
    text-align: center;
    height: auto;
    padding-bottom: 40px;
    .title-catagory-sites__description{
        padding: 5px;
        text-align: left;
        line-height: 20px;
    }

}
.image-category-sites{
   width: 100%;
   height: 100%;
   margin:10px;
   
}
.wrapper{
    width: 80%;
    margin:auto;
}

