<div class="advantage block">
    <h2>Наши преимущества</h2>
    <div class="advantage-items wrapper wrap">
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Качество</mat-card-title>
          <mat-card-subtitle>100%</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="adventage__image lazy"  [defaultImage]="'assets/thumbnail.png'" [lazyLoad]="'assets/quality.svg'" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Качество сайта -это комплекс оценок.Доступность, скорость , безопасность.Чем выше эти показатели ,тем больше его успех.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Надежность</mat-card-title>
          <mat-card-subtitle>100%</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  class="adventage__image lazy"  [defaultImage]="'assets/thumbnail.png'" [lazyLoad]="'assets/rea.png'" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Мы гарантируем стабильную работу сайта в сети , а в случаях форс-мажора всегда предоставим поддержку.
          </p>
        </mat-card-content>
      
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Ответственность</mat-card-title>
          <mat-card-subtitle>100%</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  class="adventage__image lazy"  [defaultImage]="'assets/thumbnail.png'" [lazyLoad]="'assets/responseability.svg'" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Каждая работа для нас важна , мы стараемся отдаваться на сто процентов и соблюдать сроки.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
</div>
