<div class="contacts">
    <div class="contacts__image">
        <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:1000px; height:400px">
		<canvas id="canvasContacts" width="1000" height="400" style="position: absolute; display: block; background-color:#F0EFEB"></canvas>
		<div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:1000px; height:400px; position: absolute; left: 0px; top: 0px; display: block;">
		</div>
	</div>
    </div>
 <div class=" contacts__items wrapper">
    <h2> Свяжись с нами</h2> 
    <div class="contacts__item">
        <span class="contact__item__title">Почта</span>
        <mat-icon color="primary" class="contacts__item__icon">mail</mat-icon>
        <span>dimjson5430@gmail.com</span>
    </div>

    <div class="contacts__item">
        <span class="contact__item__title">Телефон</span>
        <mat-icon color="primary" class="contacts__item__icon">phone</mat-icon>
        <span>+79004628615</span>
    </div>

    
    <div class="contacts__item">
        <span class="contact__item__title">Вконтакте</span>
        <mat-icon color="primary" class="contacts__item__icon">public</mat-icon>
        <span>https://vk.com/id30040214</span>
    </div>
 </div>
 <div class="contacs__map ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d235.8442948503933!2d34.35277061803608!3d61.77779367783439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x46a1ec4ee77017c7%3A0x9a58c64f4092b31!2z0JrQvtC80LzRg9C90LDQu9GM0L3QsNGPINGD0LsuLCDQn9C10YLRgNC-0LfQsNCy0L7QtNGB0LosINCg0LXRgdC_LiDQmtCw0YDQtdC70LjRjywg0KDQvtGB0YHQuNGPLCAxODUwMzU!3m2!1d61.777578899999995!2d34.352306!5e0!3m2!1sru!2sus!4v1643473217045!5m2!1sru!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 </div>
</div>
