<div class="form-order">
    <h2>Заявка</h2>
    <div class="form-order__input">
<mat-form-field style="padding-bottom:10px" appearance="fill" class="form-order__field" >
    <mat-label>Имя</mat-label>
    <input class="name-input" [formControl]="name" name="name" required matInput >
    <mat-error *ngIf="name.errors?.['required'] && name.touched" >  *Пустое поле </mat-error>
    <mat-error *ngIf="name.errors?.['maxlength'] && name.touched" >  *Кол-во символов превышает 20 </mat-error>
    <mat-error *ngIf="name.errors?.['pattern'] && name.touched" >  *Имя содержит цифры </mat-error>
  </mat-form-field>
  <mat-form-field style="padding-bottom:10px" appearance="fill" class="form-order__field" name="family" >
    <mat-label>Фамилия</mat-label>
    <input matInput [formControl]="family" name="family" required>
    <mat-error *ngIf="family.errors?.['required'] && name.touched" >  *Пустое поле </mat-error>
    <mat-error *ngIf="family.errors?.['maxlength'] && name.touched" >  *Кол-во символов превышает 30 </mat-error>
    <mat-error *ngIf="family.errors?.['pattern'] && name.touched" >  *Фамилия содержит цифры </mat-error>
  </mat-form-field>
  <div class="break"></div>
  <mat-form-field style="padding-bottom:10px" appearance="fill" class="form-order__field" name="phone"> 
    <mat-label>Телефон</mat-label>
    <input matInput [formControl]="phone" required>
    <mat-error *ngIf="phone.errors?.['required'] && name.touched" >  *Пустое поле </mat-error>
    <mat-error *ngIf="phone.errors?.['maxlength'] && name.touched" >  *Кол-во символов превышает 11 </mat-error>
    <mat-error *ngIf="phone.errors?.['pattern'] && name.touched" >  *Телефон формата 79004628617 </mat-error>
  </mat-form-field>

  <mat-form-field style="padding-bottom:10px" appearance="fill" class="form-order__field" name="email"> 
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error  *ngIf="email.errors?.['required'] && name.touched" >  *Пустое поле </mat-error>
    <mat-error  *ngIf="email.errors?.['email'] && name.touched" >  *Некорректный email </mat-error>
  
  </mat-form-field>

  <mat-form-field style="padding-bottom:10px" appearance="fill" class="form-order__field" >
    <mat-label>Тип сайта</mat-label>
    <mat-select (selectionChange)="selectionChange($event)">
      <mat-option value="Лендинг">Лендинг</mat-option>
      <mat-option value="Корпоративный">Корпоративный</mat-option>
      <mat-option value="Визитка">Визитка</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <mat-form-field style="padding-bottom:10px" appearance="fill">
    <mat-label>Комментарий</mat-label>
    <textarea matInput [formControl]="message" name="message" required></textarea>
    <mat-error  *ngIf="message.errors?.['required'] && name.touched" >  *Пустое поле </mat-error>
  </mat-form-field>
  <div class="ready">
  <a class="btn" href="javascript:void(0)" (click)="sendForm()">Готово</a>
  <p *ngIf="systemMessage"  class="{{systemMessage.messageClass}}">{{ systemMessage.message}}</p>
</div>
</div>
  