.form-order{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
  .form-order__input{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     .form-order__field{
        width: 45%;
     }
  }
  

   .tooltip{
     color:red;
     font-size: 13px;
   }
   .error{
     color:red;
     font-size: 13px;

   }
   .success{
     color: green;
     font-size: 13px;
   }
 
}

