<section class="admin-panel">
    <h2>Административная панель</h2>

    <mat-tab-group mat-align-tabs="start" style="background: white;">
        <mat-tab label="Посты">
            <mat-icon class="add-post" color="primary" routerLink="/admin/post/add">add </mat-icon>
            <div class="posts">
                <div class="post" *ngFor="let item of paginatorArray"
                    style="background:no-repeat url('{{item.image}}');background-size:cover;">
                    <span class="title-post">{{item.theme}}</span>
                    <mat-icon mat-raised-button class="btn-edit" color="primary"
                        routerLink="/admin/post/edit/{{item.id}}">edit</mat-icon>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-paginator #paginator class="pag-posts" [length]="posts?.length" [pageSize]="4" [pageSizeOptions]="[2, 4, 6, 10]"
            aria-label="Select page" (page)="changedItemsPage($event)">
             </mat-paginator>
        </mat-tab>
        <mat-tab label="Портфолио">
            <div class="posts">
                <mat-icon class="add-post" color="primary" routerLink="/admin/portfolio/add">add </mat-icon>
                <div class="post" *ngFor="let item of paginatorArrayByProject"
                    style="background:no-repeat url('{{item.image}}');background-size:cover;">
                    <span class="title-post">{{item.title}}</span>
                    <mat-icon mat-raised-button class="btn-edit" color="primary"
                        routerLink="/admin/portfolio/edit/{{item.id}}">edit</mat-icon>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-paginator #paginatorByProject class="pag-posts" [length]="projects?.length" [pageSize]="4" [pageSizeOptions]="[2, 4, 6, 10]"
            aria-label="Select page" (page)="changedItemsPageByProject($event)">
             </mat-paginator>
        </mat-tab>
        <mat-tab label="Заявки">
            <table mat-table [dataSource]="orders" class="mat-elevation-z8" >

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Имя </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- family -->
                <ng-container matColumnDef="family">
                  <th mat-header-cell *matHeaderCellDef> Фамилия </th>
                  <td mat-cell *matCellDef="let element"> {{element.family}} </td>
                </ng-container>
              
                <!-- phone -->
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef> Телефон</th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <!-- message-->
                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef > Соообщение</th>
                    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Категория </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="headersTable"></tr>
                <tr mat-row style="height: 100px;" *matRowDef="let data;columns:headersTable"></tr>
              </table>
              
                
        </mat-tab>
    </mat-tab-group>

  

</section>