<section class="edit-post"  >
  <h3 class="title-page">{{dataPage.title}}</h3>
  <div class="nav-page">
  <mat-icon class="back" color="primary" (click)="back()"> keyboard_return</mat-icon>
  <a *ngIf="dataPage.type=='edit'" mat-button color="warn" (click)="deletePost()">Удалить</a>
  </div>
  <div class="wrap-notice " *ngIf="notice" >
    <p class="{{notice.class=='success'?'success':'error'}}">{{notice.message}}</p>
  </div>
    <form [formGroup]="editForm" class="form" (ngSubmit)="submit()" >
        <input   value="{{article?.id}}" type="hidden" formControlName="id" >
        <mat-form-field  appearance="fill" >
          <mat-label>Название </mat-label>
          <input class="inp-theme" matInput  value="{{article?.theme}}" type="text" formControlName="theme">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Краткое описание </mat-label>
            <textarea class="inp-short-desc" matInput  value="{{article?.shortdesc}}" type="text" formControlName="shortdesc"> </textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Полное описание </mat-label>
            <textarea matInput rows="15" formControlName="fulltext" ></textarea>
          </mat-form-field>
      
      
      
      <div class="file"  >
          <div class="current-image" *ngIf="dataPage.type=='edit'">
            <span>Текущая картинка </span>
            <img  *ngIf="article" src="{{article.image}}"> 
          </div>
          <div class="load-image">
            <input type="file" #file (change)="showLoadedImage($event)" formControlName="image" style="padding-left:10px;" >
            <img *ngIf="srcLoadedImage" id="loaded-image"src="{{srcLoadedImage}}">
            <div class="wrapper-btn">
                <button mat-raised-button color="primary" class="ready" type="submit">Готово</button>
              </div>
          </div>
         
      </div>
   
    </form>
 
    
</section>
