<div class="cab-orders">
    <h3 class="cab-orders-title">Заказы <mat-icon class="icon-shop" color="primary">shop </mat-icon></h3>
    <mat-divider></mat-divider>
    <div class="cab-orders__activate">
        <mat-form-field class="example-form-field" appearance="standard">
            <mat-label>Ключ</mat-label>
            <input matInput type="text" >
            <button  matSuffix mat-icon-button >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="cab-orders__button">
            <button mat-raised-button color="primary">Активировать</button>
          </div>
          <p class="cab-orders__instruction">
              Введите ключ заказа , который был вам отправлен на электронную почту , чтобы активировать заказ и отслеживать его выполнение.
          </p>
          
    </div>
</div>
