.blog{
    display: flex;
    flex-direction: column;
    background:#F0EFEB;
    padding-top: 10px !important;

    .post{
        display: flex;
        flex-direction: row;
        padding: 20px 10px;
        margin:10px 0px;
        background: white;
        
    }
    .images-post{
        display: flex;
        width: 20%;
        height: auto;
        justify-content: space-between;
        height: 200px;
        img{
            width: 100%;
            object-fit: cover;
            width: 100%;
         
        }
       

    }
    .post-description{
        display: flex;
        width: 100%;
        position: relative;
        p{
            padding: 20px;
            width: 100%;
        }
        .next{
          position: absolute;
          left: 15px;
          bottom: 10px;
          text-decoration: none;
          color:#3700B3;
          

        }
        .icon-like{
            font-weight: 100;
            position: absolute;
            bottom: 10px;
            right:60px;
            &:hover{
                cursor: pointer;
                color:#560319;
            }
        }
        .icon-view{
            position: absolute;
            bottom: 10px;
            right:30px;
            &:hover{
                cursor: pointer;
                color:#560319;
            }
        }

       }
       
}
