
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mySite-primary: mat.define-palette(mat.$indigo-palette);
$mySite-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mySite-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$black-palette:(500:#560319 ,contrast:(500:white));
$myPrimary:mat.define-palette($black-palette,500);
$mySite-theme: mat.define-light-theme((
  color: (
    primary: $mySite-primary,
    accent: $mySite-accent,
    warn: $mySite-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mySite-theme);

/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {
  font-family:Caveat;
  src: url(assets/fonts/Caveat-Regular.ttf) format("opentype");
}


body,html { height: 100%;width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 60px;
}
h2{
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 40px;
  margin:0px !important;
  padding: 30px 0px;
}
.wrapper{
  width: 80%;
  margin:auto;
  height: auto;
}
.block{
  padding: 10px 0px;
}
.break{
  flex-basis: 100%;
}
.main-wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content{
  flex:1 0 auto;
  padding-top:70px;
}
.wrap{
  flex-wrap:wrap;
}
.customize+ * .mat-menu-panel {
  margin-top:10px;
}
.mat-paginator-container{
  justify-content: center !important;
  font-size: 16px !important;
}
.lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
   transition: opacity 500ms ease-in-out;
   max-width: 100%;
   opacity: 0 ;
}
.ng-lazyloaded{
   opacity: 1 !important;
             
}
.portfolio-image{

  min-height: 250px;
}
.owl-item{
  display: flex;
  justify-content: center;
}
.owl-next, .owl-prev{
  background:black !important;
}
h3{
  font-family: Caveat;
  font-size: 35px;
  padding-left: 25px;
}
.error{
  color:red;
  font-size: 13px;

}
.success{
  color: green;
  font-size: 13px;
}
::-webkit-scrollbar {
  background: white;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background:#560319 ;
  
}


@media (max-width:700px) {
.wrapper{
  width: 95% !important;
}
}

.btn{
  display: inline-flex;
  text-decoration: none;
  height: 45px;
  background: #560319 ;
  color: white;
  border-radius: 5px;
  min-width: 120px;
  padding: 0px 15px;
  box-shadow: unset 5px 5px  white;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 17px;
  font-family:Roboto, "Helvetica Neue", sans-serif   !important;
  font-weight: normal;

}

.listSupport{
  .mat-list-item-content:before{
    content: "description";
    font-size: 25px;
    display: block;
    font-family: 'Material Icons';
    color:#3700b3;
  }
    
}


           


